<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="${styleLocation}">
  <script th:src="${scriptLocation}" type="module"></script>
</head>
<body>
<div>
  <input type="text" name="user">
  <button onclick="login()">login</button>
  <button onclick="logout()">logout</button>
</div>
<script>
  function login() {
    fetch('/signIn', {
        method: 'POST',
        headers: {
            'content-type': 'application/json'
        },
        body: JSON.stringify({user: document.querySelector('input[name="user"]').value})
    }).then(v => v.json())
      .then(v => notify({ action: 'signIn', token: v.token }))
      .catch(v => console.error(v));
  }

  function notify(data) {
      window.postMessage(JSON.stringify(data), new URL(location.href).origin)
  }

  function logout() {
      fetch('/signOut', {
          method: 'POST'
      }).then(_ => notify({action: 'signOut'}))
      .catch(v => alert(v))
  }
</script>
<!--<app-root message="aaaaa"></app-root>-->
<app-user></app-user>
</body>
</html>